# Entornos virtuales
.venv/
env/
spark_env/

# Caches de Python y Jupyter
__pycache__/
*.py[cod]
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Metadatos y logs de Spark y Delta Lake
metastore_db/
derby.log
spark-warehouse/
_delta_log/

# Salida de datos procesados (excepto el archivo keep)
data/processed/*
!data/processed/.gitkeep

# Pruebas y empaquetado
.pytest_cache/
*.zip

prompt.md